/*
    input中datepicker中的工共样式
*/

.el-date-editor.el-input{
    width:180px;
    border-width: 0;
}

.el-date-editor.el-input{
    width:180px;
    height:30px;
}

.el-date-editor.el-input .el-input__inner{
    height:30px;
    line-height: 30px;
    border-radius: 0;
}

.el-input__icon{
    line-height: 30px;
}